.gradient-background {
    background: linear-gradient(300deg, #9BB8CD, #EEEDED, #4CB9E7);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    }

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #fff;
    font-size: 20px;

    background-image: url(./img/Blue\ Good\ Night\ \(Flyer\).jpg);

    border-radius: 25px;
    /* min-width: 780px; */
}

.gamer{
    color: rgb(154, 142, 142);
}

.name{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    margin: 0.5rem;
    padding-top: 2rem;
}

.programmer{
    margin-top: 0;
}

.my-picture{
    height: 200px;
    border-radius: 30px;
    margin-top: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.introduction{
    margin-right: 5rem;
    margin-top: 0;
}

.hero{
    min-height: 200px; 
}

.hello{
    font-family: 'Sacramento', cursive;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 3.5rem;
    color: #191990;
}

.paragraph{
    margin-top: 0;
    color: #191940;
}

.sub-title{
    clear: left;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.sub-section{
    display: flex;
    gap: 1rem;

    margin-left: 5%;
    margin-right: 5%;
}

.card{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;

}

.properties{
    align-self: flex-start;
}

.project-paragraph{
    padding: 1rem;
    margin: 0;
    color: black;
}

.project-name{
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer{
    background-image: url(./img/Blue\ Good\ Night\ \(Flyer\).jpg);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 3%;
    padding-bottom: 20px; 

    /* min-width: 780px; */
}
.links{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile-project-links{
    text-decoration: none;
}
.profile-names{
    color: #fff;
    font-size: 1.2rem;
}

.copyright{
    color: white;
    margin-top: 0;
}

@media (max-width : 580px) {
    .name{
        font-size: 3rem;
        margin: 0.25rem;
    }

    .hello{
        margin-top: 0.5rem;
        font-size: 1.75rem;  
    }

    .introduction{
        margin-right: 2rem;
    }

    .paragraph{
        font-size: 0.75rem;
        text-align: justify;
    }

    .card{
        height: 150px;
        width: 150px;
    }
    .sub-section{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-paragraph{
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}

@media (min-width : 580px) and (max-width : 780px){
    .paragraph{
        font-size: 0.8rem;
        text-align: justify;
    }
}
